@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Commissioner:wght@700&family=Secular+One&display=swap');
@font-face {
    font-family: 'KlavikaRegular';
    src: url('/path/to/klavika-regular-webfont.eot');
    src: local('KlavikaRegular'), url('/path/to/klavika-regular-webfont.woff') format('woff'), url('/path/to/klavika-regular-webfont.ttf') format('truetype'), url('/path/to/klavika-regular-webfont.svg#webfontiYJyHRas') format('svg');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, #9bc2f6, #9ccbf7, #a1d3f7, #a8daf7, #b1e1f6, #b4e2f2, #b8e3ee, #bce3ea, #badee2, #b8d8da, #b6d3d2, #b4cdcb);
    justify-content: center;
}

main {
    width: 95%;
    margin: 0 auto;
}

h1 {
    font-family: 'Secular One', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 5em;
    letter-spacing: 0.1em;
    color: #5caedd;
    text-shadow: 4px 4px #34587a;
    margin-bottom: 20px;
    margin-top: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3d73a7;
}

h2 {
    font-family: 'Commissioner', sans-serif;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #34587a;
    text-shadow: 2px 2px #83b0da;
    letter-spacing: 0.01em;
}

h3 {
    font-family: 'Commissioner', sans-serif;
    font-size: 1.35em;
    letter-spacing: 0.001em;
    padding-bottom: 10px;
    color: rgb(185, 50, 84);
    text-shadow: 1px 1px #0d1011;
}

p {
    font-family: 'Audiowide', cursive;
    font-family: 'Commissioner', sans-serif;
    padding: 10px;
    padding-top: 35px;
    text-align: justify;
    text-indent: 25px;
}

ul {
    list-style-type: none;
}

.grid-item {
    width: 23%;
    height: 480px;
    margin: 0.6%;
    text-align: center;
    background-color: white;
    display: inline-block;
    align-content: space-between;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px #83b0da;
}

.grid-item img {
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: block;
}

li img {
    max-width: 100%;
}

.grid-item:first-child {
    width: 47%;
    padding: auto;
}

.grid-item:first-child img {
    max-width: 60%;
}

.grid-item:first-child p {
    padding-top: 0;
}

.grid-float {
    float: left;
    clear: both;
}

.grid-flex {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}